head
body
  h1 aaabbb123456
  a(href="https://fb.com") Facebook
  ul
    li 1
    li 2
    li 3
  h1.class.center.big#id 123
  div
  #app
    h1 asd
    p
      | 123
      br
      | 456